.firms {
    padding: 60px 240px;
    text-align: center;
    img {
        padding: 0 15px;
    }
}

.firms-mobile {
    display: none;
    .firms-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        img {
            padding: 0 30px;
        }
    }
}
.firms,
.firms-mobile {
    img.envato {
        max-height: 30px;
    }
}

@media(max-width: 767px) {
	
}

@media(min-width: 768px) {
	
}

@media(max-width: 1050px) {
    .firms {
        display: none;
    }
    .firms-mobile {
        display: inline;
        .firms-logo {
            img {
                padding: 0;
            }
        }
    }
    .firms-logo:first-child {
        padding-top: $padding-top-small-screens;
        padding-top: 30px;
    }
}

@media(max-width: 1200px) {
	.firms {
        padding: 0 150px;
    }
}