/* Colors */
$white-color: #fff;
$icons-buttons-color: #fed136;


/* Font sizes */
$page-font-size: 14px;
$paragraph-name: 40px;
$paragraph-name-small-screens: 32px;

/* Fonts */
$page-font: 'Montserrat', sans-serif;
$font-roboto:'Roboto Slab', serif;

/* Font's thickness */
$thick-font: 700;
$normal-thickness-of-font: 400;

/* Padding */
$padding-top: 120px;
$padding-top-small-screens: 60px;
$padding-bottom: 120px;
$padding-bottom-small-screens: 60px;
