/* Colors */
$white-color: #fff;
$icons-buttons-color: #fed136;


/* Font sizes */
$page-font-size: 14px;

/* Fonts */
$page-font: 'Montserrat', sans-serif;
$font-roboto:'Roboto Slab', serif;

/* Font's thickness */
$thick-font: 700;
$normal-thickness-of-font: 400;

/* line-height */
